<main>
  <div id="errorMess">
      <h1>Sorry, you can't do this!</h1>
      <p>The operation you are trying to perform requires admin privileges. <br>
      Please ensure you are logged in and have the required privileges. If not, please contact your system administrator.</p><br />
      <p>Go back to the <a href="/login" class="links">login page</a> or the <a href="/" class="links">home page</a>.</p>
  </div>
</main>