<main>
  <form action="/change_password" method="post">
    <input type="password" placeholder="Old password" name="old_pwd">
    <input type="password" placeholder="New password" name="new_pwd1">
    <input type="password" placeholder="New password again" name="new_pwd2">
    <input type="submit" value="Change password">
  </form>
  <p><%= @message %></p>
</main>
