<main>
  <h1>Are You Sure?</h1>
  <p>Are you sure you want to this? This action cannot be undone.</p><br>
  <p><a href="/delete_bookmark?id=<%=@bookmark[:id]%>">Click here </a>to delete the bookmark.</p><br>
   <p><b>Please make sure you want to do this, other people may find it useful!</b></p>    
</main>