<main>
  <h1>Are You Sure?</h1>
  <p>Are you sure you want to this? This action cannot be undone.</p><br>
  <p><a href="/delete_comment?id=<%=@comment[:comment_id]%>">Click here </a>to delete the comment.</p><br>
</main>